<header>
    <div class="container-grid posicionamento-header">
        <!-- imagem Logo -->
        <a href="index.html" >
        <img class="logo-menu" src="./assets/img/logo.png" alt="Logo do site Game Mania">
    </a>
    
    <!-- caixa de busca e icone-->
    <div class="pesquisa">
        <input type="text" placeholder="  Buscar..." required> 
        <button>
            <i class="fas fa-search"></i>
        </button>
    </div>
    
    <!--Menu-->
    <nav id="menu" class="menu">
        <a href="">Inicio</a>
        <a href="perifericos">Periféricos</a>
        <a href="console">Console</a>
        <a href="eletronicos">Eletrônicos</a>
        <a href="pcgamer">Pc Gamer</a>
    </nav>
    <!-- icone de carrinho -->
    <div class="carrinho-login">
        <button class="carrinho-compras" alt="Carrinho">
            <i class="fas fa-shopping-cart"></i>
        </button>
        <a class="fazer-Login" href="login">Entrar</a>
        <a href="#" id="barras" class="barras"><i class="fas fa-bars barras"></i></a>
    </div>
    </div>           
</header>
    